---
interface Props {
  companyName: string;
  companyDescription: string;
  companyUrl: string;
  companyLogo: string;
  techs: string[];
}

import ExperienceDetail from "../experience/ExperienceDetail.astro";
import { Icon } from "astro-icon";

const { companyName, companyDescription, companyUrl, companyLogo, techs } =
  Astro.props;

const defaultTechs = {
  typescript: {
    name: "TypeScript",
    icon: "logos:typescript-icon",
    url: "https://www.typescriptlang.org/",
  },
  vue: {
    name: "Vue.js",
    icon: "logos:vue",
    url: "https://vuejs.org/",
  },
};

const techsIcons = techs.map((tech) => {
  const techData = defaultTechs[tech];
  return {
    name: techData.name,
    icon: techData.icon,
    url: techData.url,
  };
});

const modalId = "modal" + companyName.replace(/\s/g, "");
---

<dialog id={modalId} class="modal">
  <form method="dialog" class="modal-box w-11/12 max-w-5xl px-10">
    <div class="flex flex-col items-center justify-center">
      <img src={"/logos/" + companyLogo} width="120px" class="rounded-lg" />
      <h3 class="font-bold text-2xl text-white text-center py-3">
        {companyName}
      </h3>
      <a
        class="text-center text-blue-400 hover:text-blue-600"
        href={companyUrl}
        target="_blank">{companyUrl.replace("https://", "").replace("/", "")}</a
      >
    </div>

    <p class="py-4">
      {companyDescription}
    </p>
    <h4 class="font-bold text-xl text-white text-center py-3">
      Mi Experiencia
    </h4>
    <ExperienceDetail company="pckz"/>
    <h4 class="font-bold text-xl text-white text-center py-3">
      Tecnologías utilizadas
    </h4>
    <div class="flex gap-4">
      {
        techsIcons.map((tech) => {
          return (
            <a
              target="_blank"
              href={tech.url}
              class="tooltip"
              data-tip={tech.name}
            >
              <Icon name={tech.icon} width="40" height="40" />
            </a>
          );
        })
      }
    </div>
  </form>
</dialog>
<form method="dialog" class="modal-backdrop">
  <button>close</button>
</form>
